@page "/admin"

<PageTitle>Администрирование</PageTitle>

<h3>Администрирование</h3>



<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap">
    <RadzenButton Variant="Variant.Flat" Text="Запустить прасинг" ButtonStyle="ButtonStyle.Primary" />
    <RadzenButton Variant="Variant.Flat" Text="Запустить классификацию" ButtonStyle="ButtonStyle.Primary" />
</RadzenStack>

@code {

}
